<center><h1>Users</h1></center>

<p>
  <ul>
    <% @users.each do |user| %>
      <p>
        <%= user.email %> <%= handle_admin(user) %> <%= link_to('Delete', delete_user_path(user.id), method: :delete) %>
      </p>
    <% end %>
  </ul>
</p>