
<p>
  <li>
    <% @katas.each do |kata| %>
      <ul>
        <%= link_to kata.title, kata_path(kata.id) %> - <%= link_to :edit, edit_kata_path(kata.id) %> - <%= link_to :delete, kata_path(kata.id), method: :delete  %>
      </ul>
    <% end %>
  </li>
</p>
<p>
  <%= link_to :add_kata, new_kata_path %>
</p>
