<center><h1>Katayuno</h1></center>
<p>
  <li>
    <% @katas.each do |kata| %>
      <ul>
        <%= link_to kata.title, kata_path(kata.id) %>
      </ul>
    <% end %>
  </li>
</p>
<p>
  <%= link_to :add_kata, new_kata_path %>
</p>
