<section id="external-kata">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h1 class="mt-5"><%= t(:add_kata_url) %></h1>

        <%= render 'form', note: @external_kata %>
      </div>
    </div>
  </div>
</section>